.signup-page {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  background-image: url('../images/halftone.jpg.webp');
  background-size: cover;
  background-position: center;
}

.signup-page h2 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 13px;
}

.username-container,
.sub-container,
.business-account-container,
.name-container,
.password-container,
.confirm-password-container {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 7px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #a9a6a6;
  margin-bottom: 10px;
}

.business-account-container {
  display: flex;
  align-items: center;
}

.business-account-container label {
  margin-left: 10px;
}

.name-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

.terms-and-conditions {
  color: green;
  text-align: left;
}

.terms-and-conditionss {
  color: black;
  text-align: left;
}

.logo {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 44px;
  font-weight: bold;
  color: #000;
}
