.homepage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  .vertical-line {
    width: 1px;
    height: 100%;
    background-color: #debebe;
    margin-right: 40rem; /* Adjust the value as per your desired distance */
  }

