.login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 360px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 200px;
}


  .login-page h2 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .username-container,
  .password-container {
    margin-bottom: 30px;
    text-align: left;
    display: block;
    margin-right: 3px;
    width: 50%;
  }
  
  .username-container input,
  .password-container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
  }
  
  .remember-me-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .remember-me-container input {
    margin-right: 8px;
  }
  
  .forgot-password {
    text-align: center;
    margin-bottom: 120px;
  }
  
  .forgot-password a {
    color: #666;
    text-decoration: none;
  }
  
  button[type='submit'] {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;

  }
  
  button[type='submit']:hover {
    background-color: #0069d9;
  }

  .terms-and-conditions {
    color: green;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 1px;
  }

  .logo {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 44px;
    font-weight: bold;
    color: #000;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
  